.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 auto;
    padding: 24px 156px;
    list-style-type: none;
    max-width: 1128px;
} 

.gallery-item {
    flex-basis: calc((100% - 48px) / 3);
    overflow: hidden;
}

.gallery-link {
    display: block;
}

.gallery-image {
    display: block;
    width: 100%;
    max-width: 360px;
    height: 200px;
}

.sl-overlay {
    background-color: rgba(46, 47, 66, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sl-wrapper {
    overflow: hidden;
    max-width: 1112px;
    max-height: 640px;
}


.sl-img {
    display: block;
    width: 100%;
}

div.sl-caption {
    text-align: center;
}

a {
    color: #2e2f42;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}